body {
	margin: 0;
	padding: 0;
	background: black;
	color: white;
  font-family: 'Irish Grover', cursive;
}

header {
	margin: auto;
}
header .container {
	padding: 0 15px 0 15px;
}

.logo {
  float: left;
  background: url(KINO.gif);
}
nav {
  float: right;
}
nav ul {
  margin: 15px;
  padding: 0;
  list-style: none;
}
nav li {
  display: inline-block; /*один из способов разместить элементы в строку*/
  margin-left: 10px; 
}
nav a {
  text-decoration: none;
  line-height: 45px;
  color: white;
}

.container {
	width: 65%;
 	max-width: ;
 	min-width: 1024px;
 	padding: 15px;
  	margin: 0 auto;
	background: rgba(11, 22, 146, 0);
}
.container:after, .row:after{
  content: ""; 
  display: table; 
  clear: both; 
}
.element {
  margin-bottom: 15px;
  border-radius: 15px;
  background: rgba(163, 169, 137, 0.01);
}
.hide {
  opacity: 0;
  width: 20em;
  text-align: center;
  margin: auto;
  vertical-align: middle;
}
h2 {
  padding: 50px;
  text-align: center;
}
.hide:hover {
  opacity: 1;
}

 .imag {
  width: 100%;
  min-height: 260px;
  transition: transform 4s;
  display: flex;
  align-items: center;
  border-radius: 15px;
 }

 .i1 {
  background-image: url(images/1.jpg);
  background-size: contain no-repeat;
  background-position: 50% 90%;
 }
 .i2 {
  background-image: url(images/2.jpg);
  background-size: cover;
  background-position: 50%;
 }
 .i3 {
  background-image: url(images/3.jpg);
  background-size: cover;
  background-position: 50%;
 }
 .imag:hover {
  transform: scale(1.026);
 }
p {
  margin: 10px;
  font-size: 20px;
}
 .text {
  padding: 20px;
 }



footer {
	margin: auto;
	
}

.topper {
	background: url(images/top.png);
  background-size: contain;
	width: 30px;
	height: 30px;
	bottom: 50px;
	right: 50px;
	position: fixed;
}
* {
  margin: 0;
  padding: 0;
}
.image {
  max-width: 100%;
  display: block;
  margin-bottom: 1px;
  opacity: 0.7;
  transition: opacity 1s ease;
  }

.image:hover {
  opacity: 1;
  z-index: 10;
}

.img-box{
  column-count: 4;
  column-gap: 1px;
  width: 90%;
  margin: auto;
}